* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #3ea83b;
}

.btn {
  border: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 12px 52px;
  border-radius: 43px;
  color: #ffffff;
  background: #3ea83b;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
  color: #3ea83b;
  background-color: #2ae85f;
}

.green {
  color: #3ea83b;
}

.container {
  width: 1440px;
  margin-inline: auto;
  padding-inline: 100px;
}

.nav-cont {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  box-shadow: 0px -1px 0px 0px #c4cdd5 inset;
}

.nav-wrapper {
  gap: 315px;
  padding-block: 10px;
}

.nav-wrapper,
.logo,
.nav,
.nav ul {
  display: flex;
  align-items: center;
}

.nav {
  font-family: "Poppins", sans-serif;
  gap: 42px;
}
.nav ul {
  list-style: none;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.space {
  width: 100%;
  height: 71px;
}

#header {
  width: 100%;
  background-color: #edfff2;
  margin-bottom: 135px;
}

.hero {
  padding-block: 200px 160px;
  background: linear-gradient(270deg, rgba(237, 255, 242, 0) -0.76%, #edfff2 53.44%), url(../img/hero.png) top right;
  background-size: 830px 100%, 1050px 100%;
  background-repeat: no-repeat;
  position: relative;
}

.text-box {
  font-family: "Oswald", sans-serif;
  max-width: 420px;
}
.text-box h3 {
  font-size: 45px;
  line-height: 54px;
}
.text-box h1 {
  font-size: 122px;
  line-height: 69px;
  margin-block: 35px;
}
.text-box p {
  font-size: 23px;
  font-weight: 400;
  line-height: 31px;
  color: #8c8c8c;
  margin-bottom: 10px;
}
.text-box .btn {
  margin-left: 3px;
}

.rounds {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 60px;
  left: 45%;
}

.round {
  border: none;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.round--active {
  width: 28px;
  height: 28px;
  background-color: #2ae85f;
  border-radius: 50%;
}

.about {
  margin-bottom: 125px;
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.about__video {
  position: relative;
}
.about__video::after {
  content: "";
  width: 126px;
  height: 148px;
  border-radius: 25px;
  background-color: #3646d9;
  position: absolute;
  right: -60px;
  bottom: 81px;
  background-image: url(../img/grp.png);
  background-position: center;
}
.about__video div {
  width: 354px;
  height: 436px;
  background-color: #2ae85f;
  position: absolute;
  z-index: -1;
  left: -14px;
  top: -14px;
}
.about__video iframe {
  width: 561px;
  height: 483px;
  border-radius: 35px;
}

.about__text {
  max-width: 488px;
}

.small-h1 {
  font-family: Poppins;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 28px;
}

.h1 {
  font-family: Poppins;
  font-size: 46px;
  font-weight: 700;
  line-height: 23px;
  color: #363739;
  margin-bottom: 37px;
}

.subtitle {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #363739;
  margin-bottom: 10px;
}

.about__bottom {
  display: flex;
  gap: 85px;
}

.ab-box {
  display: flex;
  gap: 21px;
}

.ab-icon {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: linear-gradient(146.35deg, #2ae85f -37.12%, #2ae85f 30.24%, #3646d9 167%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ab-text {
  max-width: 350px;
}
.ab-text h1 {
  font-family: Poppins;
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
  color: #363739;
}

.features {
  background-color: #3646d9;
}
.features .container {
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-position: top right -100px;
  padding-block: 115px;
  background-size: 1010px 885px;
  display: flex;
}
.features * {
  color: white;
}
.features img {
  width: 700px;
  height: 583px;
  margin-top: auto;
}
.features .small-h1 {
  margin-bottom: 12px;
}
.features .h1 {
  max-width: 505px;
  line-height: 53px;
  margin-bottom: 30px;
}
.features p {
  max-width: 400px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 55px;
}
.features ul {
  list-style: none;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
}
.features ul li {
  display: flex;
  align-items: center;
}
.features ul li::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url(../img/check.svg);
  margin-right: 11px;
}/*# sourceMappingURL=style.css.map */